In [3]:
import pandas as pd

df=pd.read_excel('BASIC_FACILITIES.xlsx')

In [4]:
df.head()

,start,end,Date of Data Collection,Innumerator Name:,Progres ID Code,Individual_number:,What is your Family Name and Given Name?,Gender:,Age:,Do you have any specific needs?,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,2024-04-19 09:39:02.272,2024-04-19 09:40:41.868,2024-04-19,Sunday AYUBA,NaN,883-0007610,Zara Mohammed,Female,63,NO,...,49896874,c25ab455-13f0-4dc5-9243-c730bcf0eec6,2024-04-19 14:02:36,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,1
1,2024-04-19 09:40:46.635,2024-04-19 09:42:18.234,2024-04-19,Sunday AYUBA,NaN,883-00025272,Esther Filibus,Female,49,NO,...,49896875,8f6a49ce-a8d2-47b3-8ead-b1433a80a9ba,2024-04-19 14:02:37,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,2
2,2024-04-19 09:42:24.810,2024-04-19 09:44:54.180,2024-04-19,Sunday AYUBA,NaN,883-00074248,Vishe kwakwace,Male,31,NO,...,49896878,81a40b97-91cc-4fee-9ac9-be1053cfb326,2024-04-19 14:02:37,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,3
3,2024-04-19 11:36:41.390,2024-04-19 11:38:03.117,2024-04-19,Sunday AYUBA,NaN,883-00002544,Zakaria James,Male,25,NO,...,49896895,eb780d05-a8ee-4370-aadb-604dcb8f8397,2024-04-19 14:02:45,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,4
4,2024-04-15 11:00:29.509,2024-04-15 11:07:49.653,2024-04-15,Saleh mohammed,NaN,883-00055791,Izza modu,Female,62,NO,...,49600676,5ac76a98-96a1-482b-b388-53b9d013785e,2024-04-15 22:01:10,NaN,NaN,submitted_via_web,cmrma_reg_data,v5S4LTuu3YtHGs8CbLgRBG,NaN,5

In [7]:
df.columns

Index(['start', 'end', 'Date of Data Collection', 'Innumerator Name:',
       'Progres ID Code', 'Individual_number:',
       'What is your Family Name and Given Name?', 'Gender:', 'Age:',
       'Do you have any specific needs?', 'Specific needs categories',
       'Specific needs categories/Child at risk',
       'Specific needs categories/Single parent',
       'Specific needs categories/Unaccompanied or separated child',
       'Specific needs categories/Older person at risk',
       'Specific needs categories/Woman at risk',
       'Specific needs categories/Disability',
       'Specific needs categories/Serious medical condition',
       'Specific needs categories/Family unity',
       'Specific needs categories/Specific legal and physical protection needs',
       'Specific needs categories/SGBV', 'Specific needs categories/Torture',
       'Does your family have access to water?',
       'Does your family have a shelter ?',
       'Does your family have easy access to healthcare?',
       'Do you know where the school education services are located ?',
       'School Education Service location', 'Precise location name:',
       'Do you know where the multimedia center is located?',
       'Where is it located?', 'GENERAL COMMENT ',
       'Does this child go to school?', '**THANK YOU FOR YOUR PATIENCE !**',
       '##### Row', '<span style="display:none">row-Column</span>',
       '<span style="display:none">row-Column</span>.1', 'Innumerator Name:.1',
       'Progres ID:', 'Progres ID:.1', 'Progres_scan', 'Category PBS',
       'Category PBS/Child at risk', 'Category PBS/Single parent',
       'Category PBS/Unaccompanied or separated child',
       'Category PBS/Older person at risk', 'Category PBS/Woman at risk',
       'Category PBS/Disability', 'Category PBS/Serious medical condition',
       'Category PBS/Family unity',
       'Category PBS/Specific legal and physical protection needs',
       'Category PBS/SGBV', 'Category PBS/Torture', 'Family number',
       'Do you have access to water?', 'Do you have a shelter ?',
       'School Education Service location.1',
       'Do you have easy access to healthcare ?',
       'How many children do you have?', 'How many children go to school ?',
       '**Column**', '**Column**.1', '_id', '_uuid', '_submission_time',
       '_validation_status', '_notes', '_status', '_submitted_by',
       '__version__', '_tags', '_index'],
      dtype='object')

In [10]:
df.columns('Specific needs categories/Child at risk')

TypeError: 'Index' object is not callable

In [11]:
pd[pd.Specific needs categories/Child at risk.str.contains('Specific needs categories/Child at risk')]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2435468188.py, line 1)

In [12]:
df.describe()

,Progres ID Code,Age:,Specific needs categories/Child at risk,Specific needs categories/Single parent,Specific needs categories/Unaccompanied or separated child,Specific needs categories/Older person at risk,Specific needs categories/Woman at risk,Specific needs categories/Disability,Specific needs categories/Serious medical condition,Specific needs categories/Family unity,...,Do you have easy access to healthcare ?,How many children do you have?,How many children go to school ?,**Column**,**Column**.1,_id,_validation_status,_notes,_tags,_index
count,0.0,789.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,...,0.0,0.0,0.0,0.0,0.0,7.890000e+02,0.0,0.0,0.0,789.000000
mean,NaN,42.220532,0.116949,0.059322,0.149153,0.059322,0.179661,0.061017,0.064407,0.300000,...,NaN,NaN,NaN,NaN,NaN,4.975950e+07,NaN,NaN,NaN,395.000000
std,NaN,70.733912,0.321632,0.236427,0.356541,0.236427,0.384231,0.239565,0.245684,0.458646,...,NaN,NaN,NaN,NaN,NaN,9.989502e+04,NaN,NaN,NaN,227.908973
min,NaN,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,4.959959e+07,NaN,NaN,NaN,1.000000
25%,NaN,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,4.967578e+07,NaN,NaN,NaN,198.000000
50%,NaN,38.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,4.977414e+07,NaN,NaN,NaN,395.000000
75%,NaN,44.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,4.987563e+07,NaN,NaN,NaN,592.000000
max,NaN,1988.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,4.989690e+07,NaN,NaN,NaN,789.000000

In [17]:
df['Specific needs categories/Family unity'].value_counts()

0.0    413
1.0    177
Name: Specific needs categories/Family unity, dtype: int64

In [20]:
df['Specific needs categories/Woman at risk'].value_counts()

0.0    484
1.0    106
Name: Specific needs categories/Woman at risk, dtype: int64

In [28]:
#filt=df['Specific needs categories']
c1=df['Specific needs categories'].value_counts()

Family unity                                                                             171
Woman at risk                                                                             84
Unaccompanied or separated child                                                          77
Child at risk                                                                             39
Serious medical condition                                                                 30
Disability                                                                                29
Older person at risk                                                                      29
SGBV                                                                                      28
Single parent                                                                             27
Torture                                                                                   13
Specific legal and physical protection needs                                              10
Child at risk Woman at risk                                                                4
Child at risk Unaccompanied or separated child                                             4
SGBV Woman at risk                                                                         3
Child at risk Disability                                                                   2
Child at risk Specific legal and physical protection needs                                 2
Child at risk Single parent                                                                2
Woman at risk Serious medical condition                                                    2
Disability Child at risk                                                                   2
Unaccompanied or separated child Child at risk                                             2
Woman at risk Child at risk                                                                2
Woman at risk Older person at risk                                                         2
Woman at risk Child at risk Family unity                                                   2
Torture Child at risk                                                                      2
Unaccompanied or separated child Specific legal and physical protection needs              1
Serious medical condition Older person at risk                                             1
Single parent Unaccompanied or separated child                                             1
Older person at risk Woman at risk                                                         1
Serious medical condition Single parent                                                    1
Serious medical condition Child at risk                                                    1
SGBV Serious medical condition                                                             1
Single parent Woman at risk                                                                1
Disability Serious medical condition                                                       1
Unaccompanied or separated child Family unity                                              1
Serious medical condition Child at risk Woman at risk                                      1
Woman at risk SGBV                                                                         1
Woman at risk Single parent                                                                1
Single parent Child at risk Disability                                                     1
Woman at risk Family unity                                                                 1
Specific legal and physical protection needs Unaccompanied or separated child              1
Specific legal and physical protection needs Torture Unaccompanied or separated child      1
Family unity Woman at risk Specific legal and physical protection needs                    1
Child at risk Older person at risk                                                         1
Older person at risk Single parent                                                         1
Family unity Child at risk                                                                 1
Child at risk Disability Specific legal and physical protection needs                      1
Name: Specific needs categories, dtype: int64

In [35]:
pbs=df.groupby(['Specific needs categories'])

In [50]:
pbs.get_group('Family unity')

,start,end,Date of Data Collection,Innumerator Name:,Progres ID Code,Individual_number:,What is your Family Name and Given Name?,Gender:,Age:,Do you have any specific needs?,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
5,2024-04-15 09:05:28.639,2024-04-15 12:35:17.629,2024-04-15,Saleh mohammed,NaN,883-00026402,Saratu musa,Female,70,YES,...,49600670,b227ac12-b313-4d01-9087-744ec3fd8cde,2024-04-15 22:01:08,NaN,NaN,submitted_via_web,cmrma_reg_data,v5S4LTuu3YtHGs8CbLgRBG,NaN,6
7,2024-04-15 10:55:23.364,2024-04-15 12:36:34.591,2024-04-15,Saleh mohammed,NaN,883-00034700,Rifkatu digi,Female,75,YES,...,49600675,25221719-bdb3-425c-887c-1d5c6d077e38,2024-04-15 22:01:10,NaN,NaN,submitted_via_web,cmrma_reg_data,v5S4LTuu3YtHGs8CbLgRBG,NaN,8
13,2024-04-15 13:35:54.774,2024-04-15 13:46:06.176,2024-04-15,Haruna hamid,NaN,NaN,Hawa Bajaguir,Female,25,YES,...,49599609,2c0a617f-d3f6-4796-8c64-581c9377dff0,2024-04-15 21:41:08,NaN,NaN,submitted_via_web,cmrma_reg_data,v5S4LTuu3YtHGs8CbLgRBG,NaN,14
17,2024-04-15 10:02:15.578,2024-04-15 10:10:30.854,2024-04-15,Haruna hamid,NaN,883-00006699,Hanatu Ndele,Female,65,YES,...,49599594,2284212b-ba5f-4276-8c83-8f88bbe12e2c,2024-04-15 21:41:03,NaN,NaN,submitted_via_web,cmrma_reg_data,v5S4LTuu3YtHGs8CbLgRBG,NaN,18
26,2024-04-15 14:56:00.309,2024-04-15 14:58:42.200,2024-04-16,Haruna hamid,NaN,NaN,Lagali Mohammed,Male,54,YES,...,49599629,5f2411d8-1783-4920-946e-3aaa10c543a8,2024-04-15 21:41:15,NaN,NaN,submitted_via_web,cmrma_reg_data,v5S4LTuu3YtHGs8CbLgRBG,NaN,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,2024-04-19 11:49:09.608,2024-04-19 11:51:23.287,2024-04-19,Haruna HAMID,NaN,BER-00007465,Mohamed Algoni,Male,41,YES,...,49896661,27149c5e-3166-48a2-ac05-874b98afbd6a,2024-04-19 13:57:41,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,756
758,2024-04-19 12:04:05.729,2024-04-19 12:06:24.524,2024-04-19,Haruna HAMID,NaN,802-00001019,Thagaya Hayava,Female,34,YES,...,49896667,522edb3f-1f1d-450d-b1fe-8e3036de9599,2024-04-19 13:57:43,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,759
762,2024-04-19 12:22:28.241,2024-04-19 12:24:47.881,2024-04-19,Haruna HAMID,NaN,883-00035568,Musa Bitrus,Male,23,YES,...,49896672,dab8c713-c278-4649-ac06-3eb1b3eee3db,2024-04-19 13:57:45,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,763
763,2024-04-19 12:25:03.246,2024-04-19 12:27:28.694,2024-04-19,Haruna HAMID,NaN,883-00040554,Tchelu Tchamaya,Female,75,YES,...,49896673,a4cdaf34-5071-420a-93cb-43bef1db1c33,2024-04-19 13:57:45,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,764
767,2024-04-19 12:52:11.809,2024-04-19 12:54:42.503,2024-04-19,Haruna HAMID,NaN,883-00022116,Barka Nuhu,Male,35,YES,...,49896677,c854506a-b5b1-45bd-bfc5-023344c621c4,2024-04-19 13:57:47,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,768

In [52]:
len(df[df['Specific needs categories'].astype(str).str.contains("Family unity")])

177

In [53]:
df[df['Specific needs categories'].astype(str).str.contains("Family unity")]

,start,end,Date of Data Collection,Innumerator Name:,Progres ID Code,Individual_number:,What is your Family Name and Given Name?,Gender:,Age:,Do you have any specific needs?,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
5,2024-04-15 09:05:28.639,2024-04-15 12:35:17.629,2024-04-15,Saleh mohammed,NaN,883-00026402,Saratu musa,Female,70,YES,...,49600670,b227ac12-b313-4d01-9087-744ec3fd8cde,2024-04-15 22:01:08,NaN,NaN,submitted_via_web,cmrma_reg_data,v5S4LTuu3YtHGs8CbLgRBG,NaN,6
7,2024-04-15 10:55:23.364,2024-04-15 12:36:34.591,2024-04-15,Saleh mohammed,NaN,883-00034700,Rifkatu digi,Female,75,YES,...,49600675,25221719-bdb3-425c-887c-1d5c6d077e38,2024-04-15 22:01:10,NaN,NaN,submitted_via_web,cmrma_reg_data,v5S4LTuu3YtHGs8CbLgRBG,NaN,8
13,2024-04-15 13:35:54.774,2024-04-15 13:46:06.176,2024-04-15,Haruna hamid,NaN,NaN,Hawa Bajaguir,Female,25,YES,...,49599609,2c0a617f-d3f6-4796-8c64-581c9377dff0,2024-04-15 21:41:08,NaN,NaN,submitted_via_web,cmrma_reg_data,v5S4LTuu3YtHGs8CbLgRBG,NaN,14
17,2024-04-15 10:02:15.578,2024-04-15 10:10:30.854,2024-04-15,Haruna hamid,NaN,883-00006699,Hanatu Ndele,Female,65,YES,...,49599594,2284212b-ba5f-4276-8c83-8f88bbe12e2c,2024-04-15 21:41:03,NaN,NaN,submitted_via_web,cmrma_reg_data,v5S4LTuu3YtHGs8CbLgRBG,NaN,18
24,2024-04-15 11:23:49.920,2024-04-15 11:28:05.273,2024-04-15,Haruna hamid,NaN,417-00106484,Burtaya Dara,Male,19,YES,...,49599601,a19555cc-dfb9-4f7d-a95a-0a5cae1f57ea,2024-04-15 21:41:06,NaN,NaN,submitted_via_web,cmrma_reg_data,v5S4LTuu3YtHGs8CbLgRBG,NaN,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,2024-04-19 11:49:09.608,2024-04-19 11:51:23.287,2024-04-19,Haruna HAMID,NaN,BER-00007465,Mohamed Algoni,Male,41,YES,...,49896661,27149c5e-3166-48a2-ac05-874b98afbd6a,2024-04-19 13:57:41,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,756
758,2024-04-19 12:04:05.729,2024-04-19 12:06:24.524,2024-04-19,Haruna HAMID,NaN,802-00001019,Thagaya Hayava,Female,34,YES,...,49896667,522edb3f-1f1d-450d-b1fe-8e3036de9599,2024-04-19 13:57:43,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,759
762,2024-04-19 12:22:28.241,2024-04-19 12:24:47.881,2024-04-19,Haruna HAMID,NaN,883-00035568,Musa Bitrus,Male,23,YES,...,49896672,dab8c713-c278-4649-ac06-3eb1b3eee3db,2024-04-19 13:57:45,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,763
763,2024-04-19 12:25:03.246,2024-04-19 12:27:28.694,2024-04-19,Haruna HAMID,NaN,883-00040554,Tchelu Tchamaya,Female,75,YES,...,49896673,a4cdaf34-5071-420a-93cb-43bef1db1c33,2024-04-19 13:57:45,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,764
767,2024-04-19 12:52:11.809,2024-04-19 12:54:42.503,2024-04-19,Haruna HAMID,NaN,883-00022116,Barka Nuhu,Male,35,YES,...,49896677,c854506a-b5b1-45bd-bfc5-023344c621c4,2024-04-19 13:57:47,NaN,NaN,submitted_via_web,cmrma_reg_data,vGjYux7f2wMSUnZwc2toN6,NaN,768

In [80]:
water=df[df['Does your family have access to water?']=='YES']
len(water)

611

In [81]:
shelter=df[df['Does your family have a shelter ?']=='YES']
len(shelter)

518

In [82]:
healthcare=df[df['Does your family have easy access to healthcare?']=='YES']
len(healthcare)

585